* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body,
html {
    height: 100%;
}

.container {
    display: flex;
    height: 100vh;
}

.side-nav {
    width: 250px;
    background-color: rgb(0, 126, 230);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* padding: 0 20px; */
}

.side-nav .top {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
    background-color: #daf5ff33;
}

.side-nav .top .profile {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.side-nav .top .profile img {
    width: 30%;
    border-radius: 50%;
}

.online-status {
    position: absolute;
    top: 55px;
    bottom: 5px;
    right: 90px;
    width: 10px;
    height: 10px;
    background-color: green;
    border: 2px solid white;
    border-radius: 50%;
}

.side-nav .logo img {
    width: 90%;
    margin-bottom: 0px;
}

.nav-menu {
    list-style-type: none;
    margin-top: 50px;
}

.nav-menu li {
    margin: 10px 10px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 15px;
}

.nav-menu i {
    margin-right: 15px;
}

.nav-menu li a:hover {
    background-color: #005bb5;
    border-radius: 5px;
}

.nav-menu a.active {
    background-color: #005bb5;
    border-radius: 5px;
}



.mail-count {
    background-color: rgb(255, 60, 86);
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
    float: right;
}



.date-count {
    background-color: rgb(255, 164, 60);
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
    float: right;
}

/* Main Content */
.main {
    margin-left: 250px;
    width: 100%;
    overflow: scroll;
    padding: 50px;
    height: 100vh;
    background-color: #dfe4e9;
    z-index: 1;
}

.nav {
    position: fixed;
    z-index: 9999;
    background-color: #dfe4e9;
    padding-top: 60px;
    top: 0;
    left: 280px;
    right: 30px;
}


.header {
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 20px;
    left: 280px;
    right: 30px;
}

.header .left-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .left-icon i {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.705);
}

.header .right-option {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.705);
    font-size: 16px;
}

.menu-num {
    background-color: #bddeff;
    border-radius: 100%;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    height: 30px;
    width: 30px;
}

.applications {
    font-weight: 550;
}

.applications span {
    position: absolute;
    top: 45px;
    bottom: 5px;
    right: 350px;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 60, 116);
    border: 2px solid white;
    border-radius: 50%;
}

.country {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid rgb(129, 129, 129);
}

.main-content {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}


.main-content .content {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 0px;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding: 10px;
}

.grid-item {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.grid-item-7 {
    grid-column: span 3;
}


.grid-item-13 {
    grid-column: span 2;
}



.icon-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.icon-box .text p,
h2 {
    text-align: left;
    margin-bottom: 5px;
}

.icon-box .text p {
    font-size: 12px;
    color: gray;
    font-weight: 700;
}

.icon-box .text h2 {
    font-size: 25px;
}

.icon-box .left {
    display: flex;
    align-items: start;
    gap: 20px;
}

.icon-box .left i {
    padding: 10px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    align-items: center;
    text-align: center;
}

.icon-box .left .sales,
.balance {
    background-color: rgb(231 172 255);
    color: rgb(148 54 186);
}

.icon-box .left .users,
.task {
    background-color: rgb(232 255 191);
    color: rgb(97 150 0);
}

.icon-box .left .download,
.engagement {
    background-color: rgb(255 208 132);
    color: rgb(151 93 0);
}

.grid-item-card-right {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    gap: 5px;
    background-color: #beffda;
    border-radius: 3px;
    font-size: 10px;
    color: #00963d;
}


.row-2 .top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 15px;
}


.row-2 .left h3 {
    font-size: 15px;
    margin: 0;
    color: #333;
    text-align: left;
}

.row-2 .left p {
    font-size: 14px;
    margin: 10px 0 10px 0;
    color: #666;
    text-align: left;
    font-size: 12px;
}


.row-2 .right {
    font-size: 10px;
    color: #28a745;
    padding: 2px 5px;
    display: inline-flex;
    background-color: #beffda;
}


.row-2 .icon-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.row-2 .icon-box .dashboard {
    color: darkblue;
    background-color: lightblue;
}

.row-2 .icon-box .mail {
    background-color: rgb(231 172 255);
    color: rgb(148 54 186);
}

.row-2 .icon-box .bugfix {
    background-color: rgb(232 255 191);
    color: rgb(97 150 0);
}

.row-2 .icon-box .file {
    background-color: rgb(255 208 132);
    color: rgb(151 93 0);
}

.row-2 .icon-box .design {
    color: darkred;
    background-color: lightpink;
}


.row-2 .icon-box .icon {
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
    width: 35px;
    height: 32px;
    text-align: center;
}

.row-2 .progress-container {
    width: 100%;
}

.row-2 .progress-container p {
    font-size: 12px;
    color: gray;
    text-align: left;
}


.row-2 .progress-container h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    text-align: left;
    font-size: 12px;
}


.row-2 .progress-bar {
    width: 100%;
    height: 5px;
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
}

.row-2 .progress-bar .dashboard-level {
    background-color: blue;
    width: 40%;
    height: 5px;
}

.row-2 .progress-bar .mail-level {
    background-color: blue;
    width: 60%;
    height: 5px;
}

.row-2 .progress-bar .bug-level {
    background-color: blue;
    width: 20%;
    height: 5px;
}

.row-2 .progress-bar .file-level {
    background-color: blue;
    width: 80%;
    height: 5px;
}

.row-2 .progress-bar .design-level {
    background-color: blue;
    width: 50%;
    height: 5px;
}

.grid-item-13 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid-item-13 .text-content {
    margin-left: 100px;
    text-align: left;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}

.grid-item-13 .text-content p {
    color: gray;
}

.grid-item-13 .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 10px 20px;
    background-color: #daf5ffa8;
}

.grid-item-13 .bottom button {
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 255, 0.795);
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.grid-item-13 .bottom button:hover {
    background-color: rgb(0, 0, 255);
}

.box12 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 12px;
}

.box12 .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.box12 .img-card {
    display: flex;
    align-items: flex-start;
    font-size: 10px;
    gap: 20px;
    text-align: left;
}

.box12 .img-card img {
    width: 45px;
    height: 50px;
    border-radius: 5px;
}

.box12 .img-card p {
    color: gray;
    margin-top: 5px;
}

.box12 .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.box12 .buttons i {
    margin-right: 10px;
}

.box12 .buttons button {
    padding: 5px 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.7s ease 5.5s ease;
}

.box12 .buttons button:hover {
    transform: scale(1.08)
}

.box12 .buttons .ignore {
    background-color: rgba(255, 0, 0, 0.712);
    color: white;
}

.box12 .buttons .accept {
    background-color: rgba(0, 128, 0, 0.712);
    color: white;
}


.grid-item-7 {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    padding: 0;
}

.grid-item-7 .left {
    width: 80%;
    padding: 20px;
}

.grid-item-7 .left .left-top {
    font-size: 14px;
}

.grid-item-7 .left .right-top {
    background-color: rgba(128, 128, 128, 0.096);
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 2px;
    font-weight: 600;
}

.grid-item-7 .right {
    width: 40%;
    margin-left: 20px;
    background-color: rgba(199, 242, 255, 0.308);
    border-left: 1px solid rgba(128, 128, 128, 0.158);
    padding: 20px;
}

.grid-item-7 .left .top {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.grid-item-7 .right .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.grid-item-7 .right p {
    color: gray;
    font-size: 12px;
    margin-top: 10px;
    text-align: left;
}

.grid-item-7 .right h3 {
    font-size: 16px;
    text-align: left;
}

.grid-item-7 .right .top .right-top {
    font-size: 10px;
    color: #0076c5;
    padding: 2px 5px;
    display: inline-flex;
    background-color: #daf5ffa8;
}

table {
    font-size: 12px;
    text-align: left;
    background-color: #ffffff;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

table td i {
    margin-left: 10px;
}

table td {
    color: #666;
    padding: 10px 0;
}

tr {
    border-bottom: 1px solid #daf5ffa8;
    padding: 5px 20px;
}

table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table i {
    font-size: 10px;
    margin: 0;
}

.grid-item-wave {
    padding: 0;
    /* height: 170px; */
}

.grid-item-wave .icon-box {
    padding: 20px;
    margin-bottom: -20px;
}

#wave {
    position: relative;
    top: 5px;
}